#header {
  background-image: url(../images/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 30rem 0;
  nav {
    height: 5rem;
  }
  .header-content {
    h1 {
      font-size: 9rem;
    }
    h2 {
      font-size: 6rem;
    }
    a {
      background-color: $primary-color;
      transition: background-color 0.5s;
      &:hover {
        background-color: $primary-color-hover;
      }
    }
  }
}
/* Mobile devices (600px and below) */
@media (max-width: 600px) {
  #header {
    padding: 20rem 0 !important;
    h1 {
      font-size: 4rem !important;
    }
    h2 {
      font-style: 1.5rem !important;
    }
  }
}
